.wrapper {
  scroll-behavior: smooth;
  overflow: hidden;
  z-index: 1;
}

.scroll {
  display: flex;
  flex-wrap: nowrap;
}

.pagination {
  position: relative;
  z-index: 2;
}

.left, .right {
  position: absolute;
  top: 0;
  z-index: 3;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.left {
  left: 0;
  background: linear-gradient(to right,rgba(23,23,23,.95) 0,transparent 100%);
}

.right {
  right: 0;
  background: linear-gradient(to left,rgba(23,23,23,.95) 0,transparent 100%);
}
